header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding-left: 25px;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 25px;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

a {
    font-size: 25px;
    padding: 25px;
}

#title {
    padding: 0;
}